/*********************Tag selectors**********************************/
body.home-img {
    background-image: url(/Users/baguetteboi/Desktop/travesuras/space-tourism-website-main/space-code/assets/home/background-home-desktop.jpg);
    color: #ffff;
    
}

a {
  text-decoration: none;
  color:#ffff;
  margin: 10px 20px;
  font-family: Barlow Condensed;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 19px;
letter-spacing: 2.7px;
  
}

/*********************Class Selectors**********************************/


.home-top {
  position: absolute;
width: 1385px;
height: 96px;
left: 55px;
top: 40px;
  
}
.oval {
  position: absolute;
width: 48px;
height: 48px;
left: 55px;
top: 30px;
border-radius: 50%;
background: #FFFFFF;
}





.bar {
  position: absolute;
width: 473px;
height: 1px;
left: 167px;
top: 48px;
background: #FFFFFF;
mix-blend-mode: normal;
opacity: 0.25;
}

.navbar {
  background: rgba(255, 255, 255, 0.04);;
  display: inline-block;
  width: 830px;
  height: 96px;
  position: relative;
  left: 555px;
  text-align: center;
  backdrop-filter: blur(81.5485px);
}
.small-rectangle {
  position: absolute;
width: 70px;
height: 3px;
left: 733px;
top: 133px;

background: #FFFFFF;
}
.nav{
  padding-top: 30px;
  padding-left: 123px;
  width: 600px;
  height: 19px;
}

.home-message {
  position: absolute;
width: 450px;
height: 382px;
left: 165px;
top: 387px;
}

.home-h5 {
  position: absolute;
height: 34px;
left: 0.11%;
right: 15.67%;
top: calc(50% - 34px/2 - 174px);

font-family: Barlow Condensed;
font-style: normal;
font-weight: normal;
font-size: 28px;
line-height: 34px;
/* identical to box height */

letter-spacing: 4.725px;

color: #D0D6F9;
}

.home-h1{
  position: absolute;
height: 172px;
left: 0%;
right: 1.11%;
top: calc(50% - 172px/2 - 47px);

font-family: Bellefair;
font-style: normal;
font-weight: normal;
font-size: 150px;
line-height: 172px;
/* identical to box height */


color: #FFFFFF;
}

.home-h6 {
  position: absolute;
height: 128px;
left: 0.11%;
right: 1.22%;
top: calc(50% - 128px/2 + 127px);

font-family: Barlow;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 32px;
/* or 178% */


color: #D0D6F9;

}

.home-explore-shape {
  position: absolute;
width: 274px;
height: 274px;
left: 1001px;
top: 495px;
border-radius: 50%;
background: #FFFFFF;
}

.home-explore {
  position: absolute;
height: 37px;
left: 22.63%;
right: 23.36%;
top: calc(50% - 37px/2 + 0.5px);

font-family: Bellefair;
font-style: normal;
font-weight: normal;
font-size: 32px;
line-height: 37px;
/* identical to box height */

letter-spacing: 2px;

color: #0B0D17;

}

body.destination-background-image {
  background-image: url(/Users/baguetteboi/Desktop/travesuras/space-tourism-website-main/space-code/assets/destination/background-destination-desktop.jpg);
}

.number-01 {
  position: absolute;
height: 34px;
left: 0%;
right: 93.19%;
top: calc(50% - 34px/2);

font-family: Barlow Condensed;
font-style: normal;
font-weight: bold;
font-size: 28px;
line-height: 34px;
/* identical to box height */

letter-spacing: 4.725px;

color: #FFFFFF;

mix-blend-mode: normal;
opacity: 0.25;
}

.pick {
  position: absolute;
height: 34px;
left: 14.14%;
right: 1.57%;
top: calc(50% - 34px/2);

font-family: Barlow Condensed;
font-style: normal;
font-weight: normal;
font-size: 28px;
line-height: 34px;
/* identical to box height */

letter-spacing: 4.725px;
text-transform: uppercase;

color: #FFFFFF;

}

.destination {
  position: absolute;
width: 382px;
height: 34px;
left: 166.5px;
top: 212px;
}

.satellite-picture {
  position: absolute;
width: 445px;
height: 445px;
left: 230px;
top: 343px;
}

.description-box {
  position: absolute;
width: 445px;
height: 472px;
left: 832px;
top: 310px;
}

.description-subnav {
  position: absolute;
left: 0%;
right: 35.84%;
top: 0%;
bottom: 92.8%;
}

.moon {
  position: absolute;
height: 19px;
left: 0.18%;
right: 86.16%;
top: calc(50% - 19px/2 - 7.5px);

font-family: Barlow Condensed;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 19px;
letter-spacing: 2.7px;

color: #FFFFFF;
}

.mars {
  position: absolute;
height: 19px;
left: 26.09%;
right: 60.95%;
top: calc(50% - 19px/2 - 7.5px);

font-family: Barlow Condensed;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 19px;
letter-spacing: 2.7px;

color: #D0D6F9;

}

.europa {
  position: absolute;
height: 19px;
left: 51.66%;
right: 28.72%;
top: calc(50% - 19px/2 - 7.5px);

font-family: Barlow Condensed;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 19px;
letter-spacing: 2.7px;

color: #D0D6F9;
}

.titan {
  position: absolute;
height: 19px;
left: 83.89%;
right: 1.4%;
top: calc(50% - 19px/2 - 7.5px);

font-family: Barlow Condensed;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 19px;
letter-spacing: 2.7px;

color: #D0D6F9;

}

.moon-description-subnav-rectangle {
  position: absolute;
left: 0%;
right: 85.64%;
top: 91.18%;
bottom: 0%;

background: #FFFFFF;
}

.satellite-title {
  position: absolute;
height: 115px;
left: 0.11%;
right: 25.06%;
top: calc(50% - 115px/2 - 107.5px);

font-family: Bellefair;
font-style: normal;
font-weight: normal;
font-size: 100px;
line-height: 115px;
/* identical to box height */


color: #FFFFFF;
}

.satellite-description {
  position: absolute;
height: 128px;
left: 0%;
right: 0.22%;
top: calc(50% - 128px/2 + 28px);

font-family: Barlow;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 32px;
/* or 178% */


color: #D0D6F9;
}

.description-long-rectangle {
  position: absolute;
left: 0.22%;
right: 0%;
top: 80.93%;
bottom: 18.86%;

background: #383B4B;
}

.distance {
  position: absolute;
left: 0.11%;
right: 67.75%;
top: 87.08%;
bottom: 0%;
}

.time {
  position: absolute;
left: 50%;
right: 22.58%;
top: 87.08%;
bottom: 0%;

}

/******************** people pages css *************************************/

body.crew-background-image {
  background-image: url(/Users/baguetteboi/Desktop/travesuras/space-tourism-website-main/space-code/assets/crew/background-crew-desktop.jpg);
  position: absolute;
 
  left: -7px;
  top: -31px;

}

.subheadline {
  position: absolute;
width: 400px;
height: 34px;
left: 166.5px;
top: 212px;


}

.people-title {
  position: absolute;
width: 320px;
height: 37px;
left: 165.5px;
top: 400px;

font-family: Bellefair;
font-style: normal;
font-weight: normal;
font-size: 32px;
line-height: 37px;
/* identical to box height */

text-transform: uppercase;

color: #FFFFFF;

mix-blend-mode: normal;
opacity: 0.5;
}

.people-name {
  position: absolute;
width: 600px;
height: 64px;
left: 165.5px;
top: 452px;

font-family: Bellefair;
font-style: normal;
font-weight: normal;
font-size: 50px;
line-height: 64px;
text-transform: uppercase;

color: #FFFFFF;
}

.people-description {
  position: absolute;
width: 444px;
height: 128px;
left: 165px;
top: 543px;

font-family: Barlow;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 32px;
/* or 178% */


color: #D0D6F9;
}

.footer-oval-block {
  position: absolute;
width: 132px;
height: 15px;
left: 167px;
top: 791px;

}

.oval1 {
  position: absolute;
width: 15px;
height: 15px;
left: 167px;
top: 791px;

background: #FFFFFF;
}

.person-picture {
  position: absolute;
width: 568.07px;
height: 712px;
left: 734.93px;
top: 198px;
}

/******************************************* Tech page style *******************************************/

body.tech-background-image {
  background-image: url(/Users/baguetteboi/Desktop/travesuras/space-tourism-website-main/space-code/assets/technology/background-technology-desktop.jpg);
}

.number-position {
  position: absolute;
width: 80px;
height: 80px;
left: 165px;
top: 383px;
}

.oval-numbers {

list-style-type: none;

height: 37px;
left: 44.38%;
right: 43.12%;
top: calc(50% - 37px/2 + 0.5px);

font-family: Bellefair;
font-style: normal;
font-weight: normal;
font-size: 32px;
line-height: 37px;
/* identical to box height */

text-align: center;
letter-spacing: 2px;

color: #0B0D17;


}

.oval-shape-numbers {
  border-radius: 50%;
background: #FFFFFF;
margin: 60px 0;
}

.tech-description {
  position: absolute;
  left: 200px;
}

.tech-title {
  position: absolute;
  width: 320px;
  height: 37px;
  left: 165.5px;
  top: 400px;
  font-family: Bellefair;
  font-style: normal;
  font-weight: normal;
  font-size: 32px;
  line-height: 37px;
  text-transform: uppercase;
  color: #FFFFFF;
  mix-blend-mode: normal;
  opacity: 0.5;
}

.tech-picture {
  position: absolute;
  width: 568.07px;
  height: 712px;
  left: 820px;
  top: 198px;
}